@{
    ViewData["Title"] = "Course Details";
    string currentUser = User.Identity.IsAuthenticated ? User.Identity.Name : "";

    bool isEnrolled = Model.EnrolledStudents.Any(s => s.Username == currentUser) || Model.ActiveTeachers.Any(t => t.Username == currentUser);
    bool isActiveTeacherOrAdmin = User.Identity.IsAuthenticated && (Model.ActiveTeachers.Any(t => t.Username == User.Identity.Name) || User.IsInRole("Admin"));

    string teacherButtonsVisibility = isActiveTeacherOrAdmin ? "visible" : "hidden";
    string enrollVisibility = isEnrolled ? "hidden" : "visible";
}

@model Course

@*STUDENT MODAL*@
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="studentModalLabel">Enrolled Students</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" id="searchBar" placeholder="Search">
                </div>
                <ul class="list-group list-group-flush" style="max-height: 250px; overflow-y: auto;">
                    @{
                        foreach (var student in Model.EnrolledStudents)
                        {
                            <li class="list-group-item">
                                @student.FirstName @student.LastName
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*RATING MODAL*@
<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ratingModalLabel">Course Ratings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush" style="max-height: 250px; overflow-y: auto;">
                    @{
                        if (Model.Ratings.Count() == 0)
                        {
                            <li class="list-group-item">
                                No ratings yet.
                            </li>
                        }
                        else
                        {
                            foreach (var rating in Model.Ratings)
                            {
                                <li class="list-group-item">
                                    @rating.Student.FirstName @rating.Student.LastName - @rating.Value/5
                                    @{
                                        if (rating.Review is not null)
                                        {
                                            <span> - @rating.Review</span>
                                        }
                                    }
                                </li>
                            }
                        }
                        
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-clear" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-warning" data-bs-target="#reviewModal" data-bs-toggle="modal">Add rating</button>
            </div>
        </div>
    </div>
</div>

@*REVIEW MODAL *@
<div class="modal fade" id="reviewModal" aria-hidden="true" aria-labelledby="reviewModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="reviewModalLabel">Leave your Rating</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Not implemented yet.
            </div>
            <div class="modal-footer">
                <button class="btn btn-clear" data-bs-target="#ratingModal" data-bs-toggle="modal">Back</button>
                <button class="btn btn-warning" data-bs-target="#ratingModal" data-bs-toggle="modal">Rate</button>
            </div>
        </div>
    </div>
</div>

@*COURSE HEADER*@
<div class="d-flex course-header justify-content-between">

    <div class="d-flex flex-column" style="width: 75%">
        <div>
            <h4>
                <img class="language-flag" src="~/images/flags/svgFlags/@(Model.CourseTopic).svg" alt="" />
                @Model.Title
            </h4>
        </div>

        <div style="margin-bottom: 1px;">
            <i class="fa-regular fa-calendar" style="margin-left:4px; margin-right:1px;"></i> @Model.StartingDate.ToString()
            <i class="fa-regular fa-user" style="margin-left:4px; margin-right: 1px;"></i> @Model.EnrolledStudents.Count()
            <i class="fa-regular fa-file" style="margin-left:4px; margin-right: 1px;"></i> @Model.Lectures.Count()
        </div>

    </div>

    <div class="d-flex align-items-center">

        <form asp-controller="Course" asp-action="Enroll" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-success" style="visibility: @enrollVisibility; margin-right: 20px">Enroll</button>
        </form>

    </div>

</div>
<br/>


<div class="d-flex justify-content-between">
    <div class="d-flex flex-column" style="width: 75%">
        @*VIDEO*@
        <div>
            <iframe style="width: 100%; aspect-ratio: 16/9" src="https://www.youtube.com/embed/jy74VcXjlEk" title="dance" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        @*INFO BLOCK*@
        <div>
            <div class="d-flex flex-column" style="width: 100%">
                <div>
                    @Model.Description
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                    <div>
                        Teachers:
                        @{
                            foreach (var teacher in Model.ActiveTeachers)
                            {
                                <a href="#" class="btn btn-secondary btn-sm"> @teacher.FirstName @teacher.LastName</a>
                            }
                        }

                        @*MODAL BUTTONS*@
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#studentModal">Students</button>
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#ratingModal">Ratings (@Model.Ratings.Count)</button>
                    </div>
                    
                    <div>
                        @{
                            <a class="btn btn-success btn-sm" style="visibility: @teacherButtonsVisibility;" asp-controller="Course" asp-action="Update" asp-route-id="@Model.Id">Update course</a>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

    @*LECTURE MENU*@
    <div class="d-flex" style="width: 24%; height: 520px;">
        <div class="card" style="width: 100%">

            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <strong>Lectures</strong>
                    <a class="btn btn-success btn-sm" style="visibility: @teacherButtonsVisibility" asp-controller="Lecture" asp-action="Create" asp-route-courseId="@Model.Id">New</a>
                </div>
            </div>

            <ul class="list-group list-group-flush" style="max-height: 500px; overflow-y: auto;">
                @{
                    int counter = 1;
                  
                    foreach (var lecture in Model.Lectures)
                    {
                        <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@Model.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                        <li class="list-group-item custom-hover">
                                @counter. @lecture.Title
                            </li>
                        </a>

                        counter++;
                    }
                }
            </ul>      
        </div>
    </div>
</div>

@*STUDENTS MODAL SEARCH*@
<script>
    document.getElementById('searchBar').addEventListener('input', function () {
        var searchTerm = this.value.toLowerCase();
        var listItems = document.querySelectorAll('#studentModal .list-group-item');

        listItems.forEach(function (item) {
            var studentName = item.textContent.toLowerCase();
            if (studentName.includes(searchTerm)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
</script>






    