@{
    ViewData["Title"] = "Course Details";
    string currentUser = User.Identity.IsAuthenticated ? User.Identity.Name : "";

    bool isEnrolled = Model.EnrolledStudents.Any(s => s.Username == currentUser) || Model.ActiveTeachers.Any(t => t.Username == currentUser);
    bool isActiveTeacherOrAdmin = User.Identity.IsAuthenticated && (Model.ActiveTeachers.Any(t => t.Username == User.Identity.Name) || User.IsInRole("Admin"));
}

@model Course

<div>
    <div>
        @Model.Title >>>>>>>>>>>>> Details...
    </div>

    <div class="border">
        <iframe width=1550 height="400" src="https://www.youtube.com/embed/4t7BgyA7IOI" title="dance" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </div>
    <div>
        @Model.Description
    </div>
    <div>
        Teachers:
        @{
            foreach (var t in Model.ActiveTeachers)
            {
                <span>@t.FirstName @t.LastName • </span>
            }
        }
    </div>

    <div>
        Students:
        @{
            foreach (var t in Model.EnrolledStudents)
            {
                <span>@t.FirstName @t.LastName • </span>
            }
        }
    </div>

    <div>Lectures:</div>
    <div class="border">
        <ul>
            @{
                foreach (var l in Model.Lectures)
                {
                     <li>
                        @l.Title
                        with @l.Teacher.FirstName @l.Teacher.LastName
                     </li>               
                }
            }
        </ul>
    </div>

</div>

@{
    if (isActiveTeacherOrAdmin)
    {
        <a class="btn btn-success btn-sm" asp-controller="Course" asp-action="Update" asp-route-id="@Model.Id">Update course</a>
    }

    @*Enroll form/button*@
    if (!isEnrolled)
    {
        <form asp-controller="Course" asp-action="Enroll" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-success btn-sm">Enroll</button>
        </form>
    }
}


