@{
    ViewData["Title"] = "Courses";
}

@model PaginatedList<Course>

@* SEARCHBAR AND BUTTONS *@

<div class="d-flex justify-content-between">
    <div style="width: 60%">
        @{
            foreach (var course in Model)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">@course.Title</a>
                        Teacher: @course.ActiveTeachers[0].Username 
                        Rating: @(course.Ratings.Any() ? course.Ratings.Average(r => r.Value) : 0.0)
                        Number of enrolled students: @course.EnrolledStudents.Count()
                    </div>
            </div>

            }
          }
    </div>

    <div style="width: 35%">

        <div class="card border-light mb-3">
            <div class="card-header">Filters:</div>
            <div class="card-body">

                <div class="list-group list-group-flush">

                    <div class="list-group-item"><strong>Topics:</strong> </div>
                    @{
                        var topics = @Model.Select(course => course.CourseTopic).Distinct().ToList();
                        foreach(var topic in topics)
                        {
                            <div class="list-group-item ps-4">
                                <input type="radio" id="@("checkbox_" + topic)" name="selectedTopic" value="@topic">
                                @topic
                            </div>
                        }
                    }
                    <div class="list-group-item"><strong>Teachers: </strong></div>
                    @{
                        var teacherUsernames = @Model
                            .SelectMany(course => course.ActiveTeachers.Select(teacher => teacher.Username)
                            .Distinct()
                            .ToList())
                            .Distinct();
                        foreach (var username in teacherUsernames)
                        {
                            <div class="list-group-item ps-4">
                                <input type="radio" id="@("checkbox_" + username)" name="selectedTeacher" value="@username">
                                @username
                            </div>
                        }
                    }
                    
                    <div class="list-group-item"><strong>Max Rating:</strong> </div>

                    <div class="list-group-item">
                        <form asp-controller="" asp-action="" method="">
             
                            <div class="rating-group " id="font-size-popup">

                                <label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                <input class="rating__input" name="Rating" id="rating2-10" value="1" type="radio">

                                <label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                <input class="rating__input" name="Rating" id="rating2-20" value="2" type="radio">

                                <label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                <input class="rating__input" name="Rating" id="rating2-30" value="3" type="radio">

                                <label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                <input class="rating__input" name="Rating" id="rating2-40" value="4" type="radio">

                                <label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                <input class="rating__input" name="Rating" id="rating2-50" value="5" type="radio">
                            </div>


                            <div class="modal-footer">

                                <input type="hidden" name="" value="" class="form-input" />
                                <button type="submit" class="btn btn-outline-secondary">Go</button>
                            </div>
                        </form>
                    </div>

                </div>

            
            </div>
            <div class="card-header">Search By Course Name:</div>
            <div class="input-group mb-3 mt-3 ps-2 pe-2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">Go</button>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>


    </div>
</div>