@{
    ViewData["Title"] = "Lecture";
}

@model Lecture


<style>
    .disabled-section {
        pointer-events: none; /* Prevents click events */
        opacity: 0.5; /* Grays out the content */
    }
</style>

@* Breadcrumb navigation *@
<nav class="ms-0 me-0" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">@Model.Course.Title</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<div class="row">
    @* Embedded video *@
    <div class="card p-2 col-md-9">
        <iframe style="width: 100%; aspect-ratio: 16/9" src="@Model.VideoLink" title="lecture" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
            <h4 class="card-title">@Model.Description</h4>
            <p class="card-text text-muted">Teacher: @Model.Teacher.FirstName @Model.Teacher.LastName</p>
        </div>
    </div>

    @* Lecture menu *@
    <div class="col-md-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                <strong>Lectures</strong>
            </div>
            <ul class="list-group list-group-flush" style="max-height: 500px; overflow-y: auto;">
                @{
                    int counter = 1;
                    foreach (var lecture in ViewBag.Course.Lectures)
                    {
                        var activeClass = lecture.Id == Model.Id ? "active" : "";
                        <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@ViewBag.Course.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                            <li class="list-group-item list-group-item-action @activeClass">
                                @counter. @lecture.Title
                            </li>
                        </a>
                        counter++;
                    }
                }
            </ul>
        </div>
    </div>
</div>

@* Assignment *@
<div class="mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h3>Assignment</h3>
            <div class="d-flex justify-content-start align-items-center">
                @if (!string.IsNullOrEmpty(Model.AssignmentLink))
                {
                    <a href="@Url.Action("GetAssignment", "Lecture", new { courseId = Model.CourseId, lectureId = Model.Id })" class="btn btn-primary me-2">Download Assignment</a>
                }
                else
                {
                    <p class="me-2">No assignment uploaded.</p>
                }

                @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("Admin") || User.IsInRole("Teacher")))
                {
                    if (!string.IsNullOrEmpty(Model.AssignmentLink))
                    {
                        <form asp-controller="Lecture" asp-action="DeleteAssignment" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete Assignment</button>
                        </form>
                    }
                }
            </div>
        </div>
        <div class="col-md-6">
            @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("Teacher") || User.IsInRole("Admin")))
            {
                <h3>Upload Assignment</h3>
                <form asp-controller="Lecture" asp-action="CreateAssignment" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" method="post" enctype="multipart/form-data">
                    <div class="d-flex align-items-center">
                        <div class="mb-3 me-2 flex-grow-1">
                            <input class="form-control" type="file" id="assignmentUpload" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Upload</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<hr>

@* Submission *@
<div class="mt-5 @(string.IsNullOrEmpty(Model.AssignmentLink) ? "disabled-section" : "")">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h3>Submission</h3>
            <div class="d-flex justify-content-start align-items-center">
                @if (Model.Submissions.Any(s => s.StudentId == ViewBag.User.Id) && !string.IsNullOrEmpty(Model.AssignmentLink))
                {
                    <a href="@Url.Action("GetSubmission", "Lecture", new { courseId = Model.CourseId, lectureId = Model.Id })" class="btn btn-primary me-2">Download Submission</a>
                }
                else
                {
                    <p class="me-2">No submission uploaded.</p>
                }

                @if (Model.Submissions.Any(s => s.StudentId == ViewBag.User.Id) && !string.IsNullOrEmpty(Model.AssignmentLink))
                {
                    <form asp-controller="Lecture" asp-action="DeleteSubmission" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete Submission</button>
                    </form>
                }
            </div>
        </div>
        <div class="col-md-6">
            <h3>Upload Submission</h3>
            <form asp-controller="Lecture" asp-action="CreateSubmission" asp-route-courseId="@Model.CourseId" asp-route-lectureId="@Model.Id" method="post" enctype="multipart/form-data">
                <div class="d-flex align-items-center">
                    <div class="mb-3 me-2 flex-grow-1">
                        <input class="form-control" type="file" id="submissionUpload" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>


<hr>

@* Comments *@
<div class="mt-2">
    <h3>
        Comments
    </h3>
    @{
        if (Model.Comments.Count == 0)
        {
            <span>No comments</span>
        }
        else
        {
            <ol class="list-group list-group-flush">
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@comment.Author.Username</div>
                            @comment.Content
                        </div>
                        <span class="badge bg-black bg-opacity-25 rounded-pill" style="margin-top: 14px;">
                            @comment.CreatedOn.ToString("HH:mm tt  MMM-dd-yy")
                        </span>
                    </li>
                }
            </ol>
        }
    }
</div>