@model AccountInfoViewModel;

@{
    ViewData["Title"] = "Profile Info";
}

<div style="max-width: 400px; margin: auto">
    <form asp-controller="Account" asp-action="Index" method="post">

        <img class="user-avatar-photo img-fluid" src="~/@Model.AvatarUrl"/>
        <h3 style="max-width: 400px; margin: 0 auto 20px auto; text-align: center">@Model.Username</h3>

        <div class="">
            <label for="displayFirstName">First Name</label>
            <p id="displayFirstName">@Model.FirstName</p>
        </div>

        <div class="">
            <label for="displayLastName">Last Name</label>
            <p id="displayLastName">@Model.LastName</p>
        </div>

        <div class="">
            <label for="displayEmail">Email</label>
            <p id="displayEmail">@Model.Email</p>
        </div>
    </form>

    <form asp-controller="Account" asp-action="Update" method="get">
        <input style="margin: 25px auto; display: block; width: 100%" class="btn btn-primary" type="submit" value="Update Profile"/>
    </form>

    <br>

    <h3 style="max-width: 400px; margin: 0 auto 20px auto; text-align: center">Enrolled Courses</h3>

    @foreach (var course in Model.EnrolledCourses)
    {
        <div class="">
            <p>@course.Title</p>
        </div>
    }

    <br>

    <h3 style="max-width: 400px; margin: 0 auto 20px auto; text-align: center">Created Courses</h3>

    @foreach (var course in Model.CreatedCourses)
    {
        <div class="">
            <p>@course.Title</p>
        </div>
    }

</div>